*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
ion-icon{
    color: white;
    font-size: 2rem;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
h1{
    margin: 0;
    color: #fafafa;
}
.container{
    height: 100vh;
    display: flex;
    background-color: black;
}
.image-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}
.view-image{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
}
.previous, .next{
    position: absolute;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    cursor: pointer;
    border-radius: 50px;
}
.previous{
    display: none;
    left: 25px;
}
.next{
    right: 25px;
}
.previous:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.377);
}
.miniatures-images{
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.384);
    padding: 5px 0;
    border-radius: 3px;
}
.miniature{
    border: 1px solid white;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-right: 7px;
    transition: transform 0.2s;
}
.miniature:hover{
    transform: scale(1.05);
}
.miniature.selected{
    border: 1px solid blueviolet;    
}
.description-container{
    width: 30%;
    height: 100%;
    overflow: auto;
}
.description-container::-webkit-scrollbar{
    width: 7px;
}
.description-container::-webkit-scrollbar-thumb{
    background-color: rgba(233, 233, 233, 0.548);
}
.header-description{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 50px 40px 15px 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(148, 148, 148, 0.404);
}
.interactions-container{
    display: flex;
    align-items: center;
}
.coment, .like{
    display: flex;
    align-items: center;
}
.like{
    margin-right: 30px;
}
.interactions-container button{
    background-color: initial;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.interactions-container p{
    color: #fafafa;
    font-size: 1.5rem;
}
.content p{
    margin: 0px 40px;
    color: #fafafa;
    text-align: justify;
    line-height: 22px;
}
.coments-container{
    display: flex;
    flex-direction: column;
}
.header-coment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 40px 15px 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(148, 148, 148, 0.404);
}
.header-coment ion-icon{
    cursor: pointer;
}
.coments{
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
}
.comentary{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #282A36;
    border-radius: 4px;
    margin-bottom: 15px;
}
.header-comentary{
    display: flex;
    margin: 10px 20px;
}
.info-comentary h2, .info-comentary p{
    color: #fafafa;
}
.user-image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}
.content-coment{
    margin: 0 20px 10px 20px;
}
.content-coment p{
    color: #fafafa;
}
@media(max-width: 1360px){
    .container{
        height: auto;
        flex-direction: column;
    }
    .image-container{
        height: 100vh;
    }
    .description-container{
        width: 100%;
    }
}
@media(max-width: 919px){
    .miniatures-images{
        display: none;
    }
}